### least divisible number by given 3 int

In [12]:
def evenly_divisible(a, b, c):
    total = 0
    for x in range(a, b):
        if x%c == 0:
            total+= x
    return total

In [13]:
evenly_divisible(1,10,2)

20

### shuffle names

In [16]:
def name_shuffle(txt):
    first, last = txt.split()
    return last+" "+first

In [17]:
name_shuffle("SD LA")

'LA SD'

In [18]:
def alphabet_soup(txt):
    
    a = list(txt)
    b =  sorted(a)
    return ''.join(txt)

In [19]:
alphabet_soup("hello")

'hello'

### sort the list

In [94]:
txt = ('hello')
A = list(txt)
B = sorted(A)
A
B
print(''.join(B))

ehllo

In [95]:
list('foo')

['f', 'o', 'o']

### volume of cone

In [97]:
import math
def cone_volume(h, r):

    Volume_cone = round(1/3*pi*h*(r ** 2),2)
    return Volume_cone

In [98]:
def unique(lst):
    A = set(lst)
    return list(A)

### remove the repeated list

In [101]:
A = ['1','2','3','2']
set_A = set(A)
list_A = list(set_A)
set_A
list_A

['2', '1', '3']

### print the repeated list

In [102]:
def repeat(x): 
    x_size = len(x) 
    repeated = [] 
    for i in range(x_size): 
        k = i + 1
        for j in range(k, x_size): 
            if x[i] == x[j] and x[i] not in repeated: 
                repeated.append(x[i]) 
    return repeated

In [103]:
print(repeat(['1','2','3','2']))

['2']

In [104]:
import re

def filter_list(l):
    return re.findall('\d+',l)

### print only digit from given list

In [107]:
str = "h3110 23 cat 444.4 rabbit 11 2 dog"
[int(s) for s in str.split() if s.isdigit()]
[23, 11, 2]

[23, 11, 2]

In [108]:
str = "h3110 23 cat 444.4 rabbit 11 2 dog"
[s for s in str.split() if s.isdigit()]
[23, 11, 2]

[23, 11, 2]

### join the given  list

In [113]:
lst = ['q','r','t','4','5']
lst_new = ''.join(lst)
print(lst_new)

qrt45

### Print * in pattern

In [114]:
def pypart(n): 
    myList = [] 
    for i in range(1,n+1): 
        myList.append("*"*i) 
    print("\n".join(myList)) 
  
# Driver Code 
n = 6
pypart(n)

*
**
***
****
*****
******

### Count vowels from given list

In [121]:
def count_vowels(txt):
    count = 0
    vowels = ['a','e','i','o','u']
    for i in txt:
        if i in vowels:
            count += 1
    return count


print(count_vowels('sudip'))

2

### Map the given letter with it's  upper letter

In [122]:
def mapping(letters):
    for i in letters:
        return {i:i.upper()}

In [123]:
mapping('a')

{'a': 'A'}

### Print 'True' if given list contains equal numbers of 'x' & 'o'

In [129]:
def XO(txt):
    A = txt.count('x') + txt.count('X')
    B = txt.count('o') + txt.count('O')
    if A == B:
        return True
    else:
        return False

In [130]:
XO("xooXOxab")

True

### Print `True` if it's a christmas 12.24

In [133]:
import time
def time_for_milk_and_cookies(date):
    if date.month== 12 and date.date == 24:
        return True
    else:
        return False

In [134]:
import time
def time_for_milk_and_cookies(date):
    if date == datetime.date(date.year,12, 24):
        return True
    else:
        return False

In [137]:
def is_vowel_sandwich(s):
    if len(s) != 3:
        return False
    V = ['a','e','i','o','u']  
    return s[0] not in V and s[1] in V and s[-1] not in V

is_vowel_sandwich('catm')

False

In [34]:
def reverse(arg):
    if isinstance(arg,bo0l):
        if arg == True:
            return False
        else:
            return True
    else:
        return "boolean expected"

In [139]:
def filter_list(l):
    #i = []
    for i in l:
        if isinstance(i,str):
            l.remove(i)
    return l

In [36]:
filter_list([1, 2, 3, "a", "b", 4])

TypeError: isinstance() arg 2 must be a type or tuple of types

In [37]:
def filter_list(l):
    for i in l:
        if isinstance(i,str):
            l.remove(i)
    return l

In [40]:
def index_of_caps(word):
    return [word.index(l) for l in word if l.isupper()]

In [41]:
index_of_caps("eDaBiT")

index_of_caps("eQuINoX")

index_of_caps("determine")

[]

In [140]:
def next_in_line(lst, num):
  if lst == []:
    return "No list has been selected"
  else:
    lst.append(num)
    return lst[1:]

In [141]:
def next_in_line(lst, num):
    if lst == []:
        return "No list has been selected"
    else:
        lst.append(num)
        return lst[1:]

In [142]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

### Print only int from given list

In [144]:
def filter_list(lst):
    my_list = []
    for i in lst:
        if type(i) == int:
            my_list.append(i)
            continue
    return my_list

In [148]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

### sum all numbers of list

In [151]:
A = [1, 2, 4]
print(sum(A))

7

In [152]:
n = len(A)

### Return the missing number from listZ

In [154]:
def missing_num(lst):
    n = len(lst)
    sum_num = (n+1)*(n+2)/2
    result  = sum_num - sum(lst)
    return result

In [155]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5.0

### Return odd occurance from list

In [157]:
def find_odd(lst):
    res = 0
      
    # Traverse the array 
    for element in lst: 
        # XOR with the result 
        res = res ^ element 
    return res

In [158]:
find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5])

-1

In [159]:
def getOddOccurrence(arr):

  
    # Initialize result 
    res = 0
      
    # Traverse the array 
    for element in arr: 
        # XOR with the result 
        res = res ^ element 
    return res

In [160]:
getOddOccurrence([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5])

-1

### Return only letter from list

In [162]:
def letters_only(txt):
    alpha = ""
    count = 0
    for char in txt:
        if (char.isalpha())== True:
            count += 1
            alpha += char
    return alpha

In [163]:
letters_only("R!=:~0o0./c&}9k`60=y")

'Rocky'

## print only int from list

In [164]:
def return_only_int(lst):
    lst2 = []
    for i in lst:
        if type(i) == int:
            lst2.append(i)
    return lst2

In [165]:
return_only_int([1,2,'a'])

[1, 2]

### add number at the end of each list

In [166]:
def jazzify(lst):
    return[i if i.endswith('7') else i + '7' for i in lst]

In [167]:
jazzify(['G','F'])

['G7', 'F7']

### return true and false if string has only alphabet or only number

In [171]:
def alphanumeric_restriction(s):
    if s.isnumeric():
        return True
    elif s.isalpha():
        return True
    else:
        return False

### count a letter

In [172]:
def letter_counter(lst, letter):
    count = 0
    for i in range(len(lst)):
        for j in lst[i]:
            if j == letter:
                count += 1
    return count

In [173]:
letter_counter(['a','a','b'], 'a')

2

### Which number is not like others

In [175]:
def unique(lst):
    dict = {}
    for item in lst:
        if item in dict:
            dict[item] += 1
        else:
            dict[item] = 0
    for item in lst:
        if dict[item] == 0:
            return item

In [176]:
unique([3,3,7,3,3])

7

### Define a curzon number

In [186]:
def is_curzon(num):
    num1 = 2**num + 1
    num2 = 2 * num +1
    if num1 % num2 ==0:
        return True
    else:
        return False

In [189]:
is_curzon(10)

False

In [190]:
is_curzon(5)

True

### Hamming distance

In [191]:
def hamdist(str1, str2):
    #count the number of difference between equal length strings str1 and str2
    diffs = 0
    for ch1, ch2 in zip(str1, str2):
        if ch1 != ch2:
            diffs += 1
    return diffs

In [192]:
hamdist("abcd", "abce")

1

### Add index to given list

In [201]:
def add_indexes(lst):
    my_list = []
    for value, index in enumerate(lst):
        new_num = value + index
        my_list.append(new_num)
    return my_list

In [203]:
add_indexes([1,2,3,4,5])

[1, 3, 5, 7, 9]

In [204]:
def add_indexes(lst):
    my_list = []
    for i, index in enumerate(lst):
        new_num = i + index
        my_list.append(new_num)
    return my_list

In [205]:
add_indexes([1,2,3,4])

[1, 3, 5, 7]

### Vowel Replacer

In [210]:
def replace_vowels(txt, ch):
    
    for char in txt:
        
        if char in "aeiou":
            
            txt = txt.replace(char,ch)
            
    return txt

In [212]:
replace_vowels('mmmsalla', '#')

'mmms#ll#'

### Add hello to the each string

In [1]:
def greet_people(names):
    a = 'Hello'
    for value, index in names:
        result = a.join(value)
    return result

In [2]:
greet_people(['Joe'])

ValueError: too many values to unpack (expected 2)

#### factorial

In [9]:
import math

def fact(n):
    n >= 1
    my_number = math.factorial(n)
    
    return my_number

In [10]:
fact(4)

24

#### Compare two list and return '1' if the idx are equal else '-1'

In [49]:
def correct_stream(user, correct):
    my_list = []
    for i, j in zip(user, correct):
        if i == j:
            my_list.append(1)
        else:
            my_list.append(-1)
    return my_list

In [50]:
correct_stream([2,3,4,5],[2,4,-4,5])

[1, -1, -1, 1]

In [34]:
def correct_stream(user, correct):
    for (i,j) in zip(user, correct):
        result = zip(user, correct)
        b = list(result)
    print(b)

In [35]:
correct_stream([1,2,3], ['a','b','c'])

[(1, 'a'), (2, 'b'), (3, 'c')]

#### Create a function that takes the number of daily average recovered cases recovers, daily average new_cases, current active_cases, and returns the number of days it will take to reach zero cases.

In [ ]:
def end_corona(recovers, new_cases, active_cases):

In [51]:
def end_corona(recovers, new_cases, active_cases):
    ac = active_cases
    count = 0
    while ac >= 0:
        ac -= recovers - new_cases
        count += 1
    if ac <= 0:
        return count

In [66]:
end_corona(4000, 2000, 77000)

39

In [65]:
end_corona(3000, 2000, 50699)

51

In [67]:
end_corona(30000, 25000, 390205)

79

In [64]:
def end_corona(recovers, new_cases, active_cases):
    cnt = 0
    result = 0
    while True:
        diff = recovers - new_cases
        result = result + diff
        cnt = cnt + 1
        
        if result > active_cases:
            break
    aa = cnt
    return aa

#### Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

In [82]:
def compound_interest(p, t, r, n):
    #intial principal = p
    # time = t
    # interest rate = r
    # interest applied in a year(how many time) = n
    # compound interest = p((1 + r/n) ** (n * t)) -p
    
    a = n * t
    b = r / n
    c = 1 + b
    d = c ** a
    total = round(p * d, 2)
    return total

In [83]:
compound_interest(100, 1, 0.05, 1)

105.0

#### Remove enemies from the list of people, even if the enemy shows up twice.

In [85]:
def remove_enemies(names, enemies):
     return [i for i in names if i not in enemies]

In [86]:
remove_enemies(["Adam", "Emmy", "Tanya", "Emmy"], ["Emmy"])

['Adam', 'Tanya']

#### Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

In [89]:
def relation_to_luke(name):
    relation = {'Darth Vader:father', 'Leia:sister', 'Han:brother in law', 'R2D2:droid'}
   
    temp = list(relation.items())  
    rel = [idx for idx, key in enumerate(temp) if key[0] == search_key]

In [ ]:
Darth Vader	father
Leia	sister
Han	brother in law
R2D2	droid